/* home */
.profile{
    padding-top: 50px;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 500px;
    /* margin: 50px auto; */
    margin: auto;
    padding: 30px;
    border-radius: 8px;
}
.App h1{
    text-align: center;
}
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}
.form input[type="text"]{
    padding: 10px;
    width: 85%;
    border: 1px solid #eee;
    border-radius: 6px;
}
.form input[type="text"]:focus{
    outline:none;
}

.form button[type="submit"]{
    background-color: #008080;
    color: white;
    border:none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
}
.todo-listItems{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-content{
    width: 60%;
    padding-top:15px;
}
.todo-item button{
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px;
}
.todo-item button:focus{
    outline:none;
}
.update-item{
    background-color: goldenrod;
    color: #fff;
}
.delete-item{
    background-color: red;
    color: #fff;
}

.update-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.update-new-input{
    width: 80%;
    border-radius: 6px;
    outline: none;
    border: 1px solid #eee;
    padding: 8px;
}
.update-new-btn{
    cursor: pointer;
    background-color: darkorchid;
    color: #fff;
}
.welText{
    text-align: center;
    padding: 20px;
    font-size: 1.6rem;
    font-weight: 400;
}
.checkInp{
    margin-right: 10px;
}
/* Login */
.popMes{
    color:red;
    width: 100%;
    padding: 10px;
    font-size:1.2rem;
    text-align: center;
}
/* Unauthorized Page */

.unAuthorized {
    background-size: 100%;
    text-align: center;
    line-height: 1.45;
    height: 100vh;
    position: absolute;
    width: 100%;
  }
  
  .unAuthorized p {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 4px;
    margin: 3em 0 1em;
    opacity: 0;
    animation: fadedown 0.5s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  
  .unAuthorized h1 {
    color: #ecdb35;
    font-family: "squada one";
    text-transform: uppercase;
    font-size: 42px;
    text-shadow: 0 3px red;
    margin: 0;
    transform: scale(0);
    animation: zoomin 1s ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  
  .unAuthorized h1 span {
    display: inline-block;
  }
  
  .unAuthorized h1 + p {
    font-size: 20px;
    letter-spacing: 2px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    animation-delay: 3.5s;
  }
  
  @keyframes zoomin {
    0% {
      transform: scale(0);
    }
    90% {
      transform: scale(1.1);
    }
    95% {
      transform: scale(1.07);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fadedown {
    0% {
      opacity: 0;
      transform: translate3d(0, -10px, 0);
    }
    90% {
      transform: translate3d(0, 1px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @media screen and (max-width: 550px) {
    .home{
      width:300px;
      padding: 10px;
    }
    .form input[type="text"]{
      padding: 5px;
      width: 80%;
  }
  
  .form button[type="submit"]{
      padding: 5px;
  }

  
.todo-item button{
  padding: 5px;
  margin-right: 2px;
}
.update-new-input{
  width: 75%;
  padding: 0px 5px;
}
  }
